{% extends "layout.html" %}
{% block content %}


    <form method="post" action="/second_page/">
        <div>
            <div class="a2Class" align="center">
                FORMULAR de calcul al costului total (cost construcție casă, teren, avize, autorizații etc)
            </div>
            <br>
            <div class="a4Class">
                Datorită variației mari de prețuri la materiale și manoperă, prețul rezultat poate diferii semnificativ
                de
                prețul real de cost pentru construcția unei case. Modificarea constantă a acestor prețuri face aproape
                imposibilă actualizarea acestui formular de calcul.
            </div>
            <div class="a3Class">
                Calculul se face în timp real. Poți schimba datele introduse iar calculul se reface automat. Rezultatul
                calculului se va transmite la
                adresa de email dorită. Pentru că sunt foarte multe variabile ce trebuie luate în calculul costului
                total,
                rezultatele afișate sunt pur
                orientative și au rolul de a vă face o imagine generală despre costurile de construcție ale unei case .
                Un
                calcul exact poate fi făcut
                doar de o persoană specializată în domeniul construcțiilor (firma de construcții) care va ține cont de
                detaliile
                proiectului casei.
            </div>


            <div class="a5Class">
                Pentru calculul cât mai corect al prețului final, bifați toate opțiunile ce urmează. Dacă valorile
                introduse
                nu
                sunt preluate
                automat, apăsați Enter, Tab sau faceți click pe următoarea celulă.
            </div>
            <div class="a5Class">
                </br></br>
                Introduceti SUPRAFAȚA TERENULUI (mp):<br>
            </div>


            <input required type="number" name="suprafata_teren" value="" size="20">
            </br></br>
            <div class="a5Class">
                Introduceți PREȚUL in €/mp al terenului:<br>
            </div>
            <input required type="number" name="pret_teren" value="" size="20">
            </br></br>
            <div class="a5Class">
                Introduceți SUPRAFAȚA UTILĂ a casei în mp:<br>
            </div>
            <input required type="number" name="suprafata_casa" value="" size="20">
            <div class="a6Class">
                Pentru calculul costurilor, este importantă suprafața construită, care este mai mare decât suprafața
                utilă.
            </div>
            </br></br>
            <div class="a5Class">
                Alegeți tipul de casă, cu etaj sau doar parter. Construcția unei case pe parter este mai scumpă decât a
                uneia cu
                etaj, raportat la același <br>
                număr de mp.
            </div>
            </br></br>

            <div class="a5Class">
                Pentru afișarea corectă a calculului, bifați opțiunile ce urmează
            </div>

            <div class="a5Class">
                Ce fel de CASĂ doriți?
                <br>
                <div>
{# Parcurgem lista regimuri_inaltime, si cream un input pentru fiecare intrare          #}
                    {% for regim_inaltime in regimuri_inaltime %}
                        <div class="a5Class">
                            <input required type="radio" value={{ regim_inaltime.valoare }}
                                    name="regim_inaltime"/>
                            <label>{{ regim_inaltime.descriere }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="a5Class">
                Ce nivel de FINISARE alegeți?
                <br>
                <div>
                    {% for nivel_finisare in niveluri_finisare %}
                        <div class="a5Class">
                            <input required type="radio" value={{ nivel_finisare.valoare }}
                                    name="nivel_finisare"/>
                            <label>{{ nivel_finisare.descriere }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="a5Class">
                Alegeți tipul de ARHITECTURĂ a casei:
                <br>
                <div>
                    {% for arhitectura in niveluri_arhitectura %}
                        <div class="a5Class">
                            <input required type="radio" value={{ arhitectura.valoare }}
                                   name="arhitectura"/>
                            <label>{{ arhitectura.descriere }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="a5Class">
                Doriți VERIFICAREA terenului de către un topograf?:
                <br>
                <div>
                    {% for verificare in verificare_topografica %}
                        <div class="a5Class">
                            <input required type="radio" value={{ verificare.valoare }}
                                   name="verificare_topografica"/>
                            <label>{{ verificare.descriere }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="a6Class">
                    Înainte de a cumpără terenul, apelați la serviciile unui topograf. Este o cheltuiala care merită
                    făcută,
                    pentru a știi exact limitele de
                    proprietate ale terenului și pentru a evita surprizele neplăcute ce pot apare ulterior.
                </div>
            </div>

            <div class="a5Class">
                Doriți VERIFICAREA terenului de către un geolog?:
                <br>
                <div>
                    {% for verificare in verificare_geologica %}
                        <div class="a5Class">
                            <input required type="radio" value={{ verificare.valoare }}
                                   name="verificare_geologica"/>
                            <label>{{ verificare.descriere }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="a6Class">
                    Înainte de a cumpără terenul, apelați la serviciile unui geolog pentru intocmirea unui AVIZ
                    GEOTEHNIC.
                    Este o cheltuiala care merită făcută, pentru a știi în mare, în ce condiţii se poate construi pe
                    terenul
                    respectiv.
                </div>
            </div>

            </br>

            <div class="a5Class">
                COMISION agenție imobiliară pentru cumpărarea terenului:
                <br>
                <div>
                    {% for comision in comision_agentie %}
                        <div class="a5Class">
                            <input required type="radio" value={{ comision.valoare }}
                                   name="comision"/>
                            <label>{{ comision.descriere }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <button type="submit">Calculeaza</button>

    </form>


    {##}
    {#    <div class="a5Class">#}
    {#    COSTUL CASEI#}
    {#    <hr/>#}
    {#    Suprafață CONSTRUITĂ a casei va fi (mp):<br>#}
    {#    <input type="text" name="SuprafaConstruita" value="">#}
    {#    </br></br>#}
    {##}
    {#    COSTUL TOTAL (CASĂ + TEREN) (€):<br>#}
    {#    <input type="text" name="CostTotal" value="">#}
    {#    <br>#}
    {#    <div class="a6Class">#}
    {#        Costul total al casei include: costul terenului + costurile de construcție + costul taxelor, avizelor,#}
    {#        utilităților etc.#}
    {#    </div>#}
    {#    </br></br>#}
    {##}
    {##}
    {#    <a href='second_page.html'> <input type=button value="VEZI DETALII CALCUL"> </a>#}
{% endblock content %}

