<!DOCTYPE HTML>

<html>
    <head>
            {% if title %}
                <title> {{ title }}</title>
            {% else %}
                <title>Detaliere costuri</title>
            {% endif %}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>

<body style="background-color:#1d2d47;">
    <div>

        <div  class="a2Class" align="center">
            Calculator preț construcție casă
            <hr>
        </div>

    </div>
 {% block content %} {% endblock %}
</body>