{% extends "layout.html" %}
{% block content %}
<div>
    <div  class="a2Class" align="left">
        DETALIERE COSTURI:
        <hr>
    </div>
    <div class="a5Class">

{#    Parcurgem toate costurile primite din functia second_page(), afisandu-le #}
    {% for valoare in valori %}
        <div class="a5Class">
            <b>{{ valoare.descriere }}</b>: {{ valoare.valoare }}
        </div>
    {% endfor %}
    </div>
    <a href='first_page.html'> <input type= button value="INAPOI"> </a>
      {% endblock content %}
</div>


