{% extends "layout.html" %}
{% block content %}

<div>
    <div  class="a2Class" align="left">
        DETALIERE COSTURI:
        <hr>
    </div>
    <div class="a5Class">

{#    Parcurgem toate costurile primite din functia second_page(), afisandu-le #}
    {% for valoare in valori %}
        <div class="a5Class">
            <b class="a4Class">{{ valoare.descriere }}</b>: {{ "%.2f"|format(valoare.valoare) }} €
            <br><br>
        </div>
    {% endfor %}
    </div>
    <a href='/'> <input type= button  class="button" value="<< INAPOI"> </a>

    <div>
{% endblock content %}



